* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.signup-container_flex {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: sans-serif;
}

.signup-container_flex .image_wrapper {
  background-color: #0000ff50;
  padding: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup-container_flex .image_wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.signup-container_flex .signup-container {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 40px;
}

.signup-container_flex .signup-container .signup_wrapper {
  width: 100%;
  max-width: 417px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.signup-container_flex .signup-container .signup_wrapper p {
  font-weight: 500;
}

.signup-container_flex .signup-container .signup_wrapper h1 {
  text-align: center;
}

.signup-container_flex .signup-container .signup_wrapper .check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  color: gray;
}

.signup-container_flex .signup-container .signup_wrapper .check-box input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.signup-container_flex .signup-container .signup_wrapper .signup-flex {
  position: relative;
  max-width: 417px;
  height: 45px;
  background: #FFFFFF;
  border: 2px solid #7EBCC3;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signup-container_flex .signup-container .signup_wrapper .signup-flex input {
  width: 100%;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.signup-container_flex .signup-container .signup_wrapper .signup-flex img {
  position: absolute;
  right: 10px;
  top: 10px;
}

.signup-container_flex .signup-container .signup_wrapper span {
  margin: auto;
  font-weight: 500;
}

.signup-container_flex .signup-container .signup_wrapper span a {
  color: #7EBCC3;
  text-decoration: none;
}

.signup-container_flex .signup-container .signup_wrapper button {
  background-color: #7EBCC3;
  color: #FFFFFF;
  border: none;
  height: 40px;
  border-radius: 7px;
  font-size: 15px;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
}

.signup-container_flex .signup-container .signup_wrapper button :disabled {
  background-color: aquamarine;
}

.signup-container_flex .signup-container .signup_wrapper button:hover {
  background-color: #5ba7af;
}

.signup-container_flex .signup-container .signup_wrapper button:active {
  background-color: #44b1bd;
}

@media (max-width: 800px) {
  .signup-container_flex {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .signup-container_flex .image_wrapper {
    padding: 0 40px;
    background-color: #FFFFFF;
  }
  .signup-container_flex .signup-container {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .signup_wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .signup_wrapper .image_wrapper {
    padding: 0 40px;
    background-color: #FFFFFF;
  }
  .signup_wrapper .signup-container {
    margin-top: -90px;
    width: 100%;
    padding: 0 40px;
  }
}

.signin_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  font-family: sans-serif;
}

.signin_wrapper .image_wrapper {
  background-color: #0000ff50;
  padding: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signin_wrapper .image_wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.signin_wrapper .login-container {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 40px;
}

.signin_wrapper .login-container .login_wrapper {
  width: 100%;
  max-width: 417px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.signin_wrapper .login-container .login_wrapper p {
  font-weight: 500;
}

.signin_wrapper .login-container .login_wrapper h1 {
  text-align: center;
}

.signin_wrapper .login-container .login_wrapper .signin-flex {
  position: relative;
  max-width: 417px;
  height: 45px;
  background: #FFFFFF;
  border: 2px solid #7EBCC3;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signin_wrapper .login-container .login_wrapper .signin-flex input {
  width: 100%;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.signin_wrapper .login-container .login_wrapper .signin-flex img {
  position: absolute;
  right: 10px;
  top: 10px;
}

.signin_wrapper .login-container .login_wrapper span {
  margin: auto;
  font-weight: 500;
}

.signin_wrapper .login-container .login_wrapper span a {
  color: #7EBCC3;
  text-decoration: none;
}

.signin_wrapper .login-container .login_wrapper button {
  background-color: #7EBCC3;
  color: #FFFFFF;
  border: none;
  height: 40px;
  border-radius: 7px;
  font-size: 15px;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
}

.signin_wrapper .login-container .login_wrapper button:hover {
  background-color: #5ba7af;
}

.signin_wrapper .login-container .login_wrapper button:active {
  background-color: #44b1bd;
}

@media (max-width: 850px) {
  .signin_wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .signin_wrapper .image_wrapper {
    padding: 0 40px;
    background-color: #FFFFFF;
  }
  .signin_wrapper .login-container {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .signin_wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .signin_wrapper .image_wrapper {
    padding: 0 40px;
    background-color: #FFFFFF;
  }
  .signin_wrapper .login-container {
    margin-top: -90px;
    width: 100%;
    padding: 0 40px;
  }
}

body {
  border-top: 1px solid transparent;
}

header {
  width: 100%;
  position: fixed;
  z-index: 10;
}

.product_container {
  width: 100%;
  min-height: 99.9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 30px;
  background-color: #0000ff50;
  border-top: 1px solid transparent;
  z-index: 0;
}

.myModal {
  width: 100%;
  height: 100vh;
  background-color: white;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100 !important;
  position: absolute;
  top: 0%;
  left: 0;
}

.myModal .modal-center {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.myModal .modal-center .flex-modal {
  width: 400px;
  height: 200px;
  background-color: white;
  margin: auto;
}

.todo_wrapper {
  padding: 20px;
  max-width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 150px auto;
  gap: 15px;
}
/*# sourceMappingURL=index.css.map */